{% extends 'main.html' %}
<!--  -->

{% block content %}
<div>
    <h1>Home View!</h1>
    <h3>Urls</h3>
    <ul>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
        <li><a href="{% url 'create-post' %}">Create a Post</a></li>
    </ul>
    <hr />
</div>
<div>
    <h2>Posts!</h2>
    <br />

    {% for post in posts %}
    <div>
        <span>@{{post.owner}}</span> | <span>{{post.likes.count}} Likes</span>
        <br />
        <a href="{% url 'post' post.slug %}">{{post.id}}- {{post.title}}</a>
        {% if request.user == post.owner %} |
        <a href="{% url 'update-post' post.slug %}">Update</a> |
        <a href="{% url 'delete-post' post.slug %}">Delete</a>
        {% endif %}
    </div>
    <hr />
    {% endfor %}
</div>
{% endblock content %}
