{% extends 'main.html' %} {% load static %}
<!--  -->
{% block title %} Normal - Share your own stories {% endblock title %}
<!--  -->
{% block content %}
<div class="content-feed-container">
    <div class="actions">
        <a href="{% url 'create-post' %}" class="btn">Write a post</a>
        <button class="btn" id="m_topic_btn">Normal's Topics</button>
    </div>
    <div class="posts-container">
        {% if posts.count > 0 %} {% for post in posts %}
        <div class="post-container">
            <div class="post-upper">
                <span class="img-circle">
                    <img src="{% static post.owner.avatar.url %}" />
                </span>
                <span class="post-author">
                    <a
                        href="{% url 'user-profile' post.owner %}"
                        class="username-link"
                    >
                        {{post.owner.name}}
                    </a>
                </span>
            </div>
            <div class="post-lower">
                <span class="post-title">
                    <a href="{% url 'post' post.owner post.slug %}">
                        {{post.title}}
                    </a>
                </span>
                <div class="post-footer">
                    {% if post.topic %}
                    <span class="post-topics">
                        <a href="{% url 'home' %}?q={{post.topic.name}}">
                            {{post.topic.name}}
                        </a>
                    </span>
                    {% endif %}

                    <div class="post-info">
                        <span class="post-date">
                            {{post.created_at|timesince}}
                        </span>
                        <div class="post-likes-comments">
                            <span> {{post.likes.count}} Likes </span>
                            |
                            <span> {{post.comment__count}} Comments </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="empty-posts">
            <span>It's empty!😱</span>
        </div>
        {% endif %}
    </div>
</div>

<div class="content-topics-wrapper" id="m_topics_wrapper">
    {% include 'base/topics_component.html' %}
</div>
{% endblock content %}
