{% extends 'main.html' %}
<!--  -->

{% block content %}
<div>
    {% if page == "login" %}
    <div>
        <h3>Login</h3>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="username">Username: </label>
            <div><input type="text" id="username" name="username" /></div>
            <label for="password">Password: </label>
            <div><input type="password" id="password" name="password" /></div>
            <button type="submit">Login</button>
            <p><a href="{% url 'register' %}">Sign up</a></p>
        </form>
    </div>
    {% else %}
    <div>
        <h3>Register</h3>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!--  -->
            {% for field in form %}
            <div>
                <label>{{field.label}}: </label>
                <div>{{field}}</div>
            </div>
            {% endfor %}

            <button type="submit">Sign up</button>
            <p><a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}
