{% extends 'main.html' %} {% load static %}
<!--  -->

{% block title %}
    
    {% if not form.instance.title %}
    Share a story of your own | Normal
    {% else %}
    Edit {{form.instance.title}} | Normal
    {% endif %}
        
{% endblock title %}
    
<!--  -->
{% block content %}
<div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--  -->
        {{form.media}} {{form.as_p}}

        <br />
        <a href="{% url 'home' %}">Go Back Home</a>
        {% include "base/post_toggle.html" %}
    </form>
</div>
{% endblock content %}
