{% extends 'main.html' %} {% load static %}
<!--  -->

{% block title %} Update your profile {% endblock title %}

<!--  -->
{% block content %}
<div class="profile-edit-container">
    <div class="pe-head"><span>Edit your profile</span></div>
    <div class="pe-edit-upper">
        <form
            action=""
            method="POST"
            autocomplete="off"
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <div class="pe-avatar-wrapper">
                <img src="{% static request.user.avatar.url %}" id="avatar" />
                <div>{{form.avatar}}</div>
            </div>

            <div class="pe-right">
                <div class="pe-item">
                    <label for="name">Name:</label>
                    <div class="user-input">{{form.name}}</div>
                </div>
                <div class="pe-item">
                    <label for="bio">Bio:</label>
                    <div class="user-input">{{form.bio}}</div>
                </div>
                <div class="pe-btns">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn-cancel">
                        Cancel
                    </a>
                    <button type="submit" class="btn">Save Changes</button>
                </div>
            </div>
        </form>
        <div>
            <a href="{% url 'delete-account' %}" class="btn-cancel">
                Delete your account
            </a>
        </div>
    </div>
</div>

<script>
    const image_input = document.getElementsByName("avatar")[0];
    let avatar = document.querySelector("#avatar");

    image_input.addEventListener("change", (event) => {
        avatar.src = URL.createObjectURL(event.target.files[0]);
    });
</script>
{% endblock content %}
