* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Amiri", Helvetica, Arial;
    color: #001427;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e5f5f2;
}

/*? Things */
a {
    text-decoration: none;
    color: #001427;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 15px 15px;
    border: 1px solid #001427;
    border-radius: 5px;
    font-size: 14px;
    transition: 500ms;
}

.btn:hover {
    background-color: #001427;
    color: white;
}

img {
    object-fit: cover;
}

.username-link:hover {
    text-decoration: underline;
    color: rgb(25, 25, 200);
}
/*! End */

/*? Navbar Container start */
.header-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    padding: 5px 18%;
    width: 100%;
    font-size: 14px;
    background-color: white;
    z-index: 10000;
}

.nav-logo-wrapper {
    width: 10%;
}

.nav-logo-wrapper .nav-logo {
    object-fit: cover;
}

.nav-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #001427;
    border-radius: 5px;
    width: 30%;
    padding: 5px 12px;
    height: 75%;
    background-color: white;
}

.nav-search input {
    border: none;
    appearance: none;
    outline: none;
    font-size: 1.1em;
    width: 90%;
    background-color: transparent;
}

.nav-search label {
    cursor: pointer;
}

.nav-search svg {
    object-fit: cover;
    width: 20px;
    height: 20px;
}

.nav-search img {
    object-fit: cover;
    width: 20px;
    height: 20px;
}

.header-container .right-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 18%;
    max-width: 20%;
}

.header-container .nav-link-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    width: 20%;
    font-weight: 500;
}

.nav-link-items > li {
    font-size: 1.2em;
    font-weight: 600;
}

.nav-link-items > li:hover {
    text-decoration: underline;
}

.header-container .login-btn {
    padding: 12px 20px;
}

.header-container span img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-container .nav-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-container .nav-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* ! End */

/*? Main Container Start */
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5% 18% 3%;
    width: 100%;
    height: 100%;
    gap: 25px;
}

/*? Feed Container */
.content-feed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 15px;
    padding: 1% 0;
    width: 65%;
    min-height: 50%;
}

.actions {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2%;
    width: 100%;
    gap: 5%;
}

.actions a {
    width: 25%;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    border: 1px solid #999;
}

.actions button {
    width: 30%;
    padding: 10px;
    font-weight: 600;
    border: 1px solid #999;
}

.posts-container {
    width: 100%;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #999;
    padding: 2% 0;
    margin-bottom: 10px;
    background-color: white;
}

.post-container .post-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
    width: 100%;
    height: 35px;
}

.img-circle {
    width: 30px;
    height: 30px;
}

.img-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.post-author {
    font-size: 18px;
    font-weight: 500;
    width: 95%;
}

.post-author a:hover {
    text-decoration: underline;
}

.post-container .post-lower {
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
    width: 100%;
    min-height: 65px;
}

.post-container .post-title {
    margin-bottom: 20px;
    max-height: 100px;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-footer {
    display: flex;
    flex-direction: column;
    border-top: 1px #001427 solid;
}

.post-topics {
    gap: 25px;
    padding: 5px 0;
}

.post-topics > a {
    font-size: 0.8em;
    background-color: #fbfdd5;
    border-radius: 2px;
    padding: 3px;
    margin: 0 0.5% 0 0;
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5%;
}

.post-date {
    font-size: 0.95em;
}

.post-likes-comments {
    padding: 0.5%;
}
/* ! End */

/* ? Topics Container */

.content-topics-wrapper {
    background-color: transparent;
}

.content-topics-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 2% 1%;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: white;
    /* * */
    position: fixed;
    z-index: 1;
    top: 10.3%;
    right: 18%;
    overflow-x: hidden;
    padding-top: 20px;
}

.content-topics-container > span {
    display: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
    position: absolute;
    top: 5px;
    right: 5px;
}

.content-topics-container > span svg {
    width: 12px;
    height: 12px;
}

.content-topics-container .blogs-topics-title {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 8px;
}

.topics-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.topics-item {
    padding: 5px 10px !important;
    font-weight: 500;
    border: 1px #666 solid;
    border-radius: 5px;
    cursor: pointer;
}

.topics-item a {
    color: inherit;
}
/* ! End */

/* ? Login Register */
.main-login-register {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 10%;
    margin-top: 10%;
    width: 100%;
}

.log-register-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 50%;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: white;
}

.lr-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    width: 100%;
    border-bottom: 1px solid #999;
    background-color: #fbfdd5;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.lr-head > span {
    font-size: 1.5em;
    font-weight: bold;
}

.lr-body {
    width: 100%;
}

.lr-body > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lr-body > form .form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4%;
    width: 100%;
}

.form-item > label {
    font-size: 1.2em;
}

.form-item .user-input {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #001427;
    margin: 0.5rem auto;
    padding: 0;
}

.form-item input {
    display: flex;
    justify-content: center;
    appearance: none;
    border-width: 0;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 35px;
    padding: 3% 5%;
    font-size: 1.1rem;
}

.btn-log-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    appearance: none;
    color: #001427;
    background-color: white;
    border: 1px solid #001427;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition-duration: 700ms;
}

.lr-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 17px;
    margin-bottom: 2.5rem;
}

.lr-footer p {
    font-size: 1.1em;
}

.lr-footer .log-sign-redirect {
    font-size: 1.1em;
    transition-duration: 300ms;
}

.lr-footer .log-sign-redirect:hover {
    text-decoration: underline;
    transform: scale(1.1);
    color: rgb(12, 12, 145);
}
/*! End */

/*? Welcome wrapper */
.side-welcome-wrapper {
    padding: 2% 4%;
    width: 40%;
    background-color: white;
    border: 1px solid #999;
    border-radius: 10px;
}

.side-welcome-wrapper .welcome-logo {
    margin-bottom: 1.25em;
    border-bottom: 2px solid #001427;
}

.side-welcome-wrapper .logo {
    object-fit: cover;
    width: 40%;
    height: 50%;
}

.side-welcome-wrapper .welcome-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    font-size: 1.6em;
    font-weight: 600;
}

.welcome-txt span {
    padding-bottom: 0.3em;
}
/* ! End */

/* ? Post View */
.post-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #999;
    padding: 1% 2% 3%;
    margin: 0 10%;
}

/* ? Post Head */
.post-main .post-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 1em;
}

.post-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    width: 100%;
    padding-bottom: 1em;
    margin-top: 1.1rem;
}

.post-head-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.8em;
}

.post-head-info .post-author-img {
    width: 5%;
}

.post-head-info .post-author-img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.post-head-info .post-author {
    font-size: 1.1em;
    width: 95%;
}

.post-head-info .post-author a:hover {
    text-decoration: underline;
}

.post-head .post-title {
    font-size: 2.2em;
    margin: 0.5em 0;
}

.post-head div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2%;
}

.like-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    font-size: 1.5em;
    width: 80px;
    height: 40px;
    padding: 10px 12px;
    transition: 500ms;
    cursor: pointer;
}

.like-btn:hover {
    background-color: #e5f5f2;
}

.like-btn.liked {
    background-color: #e5f5f2;
}

.like-btn.liked:hover {
    background-color: #bfcfcd;
}

.like-btn.liked svg {
    fill: #001427;
}

.like-btn a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    color: inherit;
}

.like-btn a svg {
    width: 40%;
}

.like-btn a span {
    width: 40%;
}
/* ! End */

/* ? Post Body */
.post-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 3%;
    margin-bottom: 3%;
    width: 100%;
}

.post-head-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

.post-author-info {
    padding: 0 !important;
}

.post-author-info .post-author {
    width: 92%;
}

.post-head-info .post-actions {
    width: 40%;
}

.post-actions .btn {
    width: 90px;
}

.post-actions .btn-cancel {
    font-size: 16px;
    width: 110px;
}

.post-body * {
    font-size: 1.1em;
}

.post-body p {
    width: 100%;
    font-size: 1.1em;
}

.post-body h2 {
    font-size: 1.8em;
}

.post-body img {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
/* ! End */

/* ? Post Comments */
.post-comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.post-comments form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 2%;
    width: 100%;
    height: 12em;
}

.post-comments form div {
    border: 1px solid #001427;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin-bottom: 0.8em;
}

.post-comments form textarea {
    padding: 1%;
    font-size: 1em;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;
}

.post-comments form button {
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
}

.comments-section {
    width: 100%;
    padding: 0 2% 2%;
}

.comments-wrapper {
    width: 100%;
    padding: 0 2%;
}

.post-comment {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 1.5% 2% 2%;
    border: 1px solid #ddd;
}

.comment-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}

.comment-head .comment-owner-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comment-head div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
}

.comment-owner-name {
    padding: 2px;
    margin: 0;
    font-size: 1.2em;
}

.comment-date {
    font-size: 0.9em;
}

.comment-body {
    font-size: 1em;
}
/* ! End */

/*? New Post */
.new-post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    height: 100%;
}

.new-post-container form {
    width: 100%;
}

.new-post-container .np-form-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2%;
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #999;
}

.new-post-container .np-form-body > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 20px;
}

.np-title-wrapper {
    width: 100%;
    height: 3em;
}

.np-title-wrapper input {
    border: none;
    appearance: none;
    background-color: transparent;
    outline: none;
    font-size: 2em;
    font-weight: bold;
    padding: 5px 10px;
    width: 100%;
    transition-duration: 200ms;
}

.np-topic-wrapper {
    width: 60%;
    height: 2em;
}

.np-topic-wrapper select {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.1em;
    padding: 5px 10px;
    width: 100%;
}

.np-body-wrapper {
    width: 100%;
    height: 40em;
    margin-bottom: 0 !important;
}

.np-body-wrapper > div {
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    resize: none;
    background-color: transparent;
    outline: none;
    border: none;
}

/* Quill */
.ql-toolbar.ql-snow {
    border: none !important;
    border-bottom: 1px solid #999 !important;
    padding-bottom: 5px;
    height: 6%;
}

.django-quill-widget.ql-container.ql-snow {
    border: none !important;
    height: 94% !important;
    font-size: 1.1em;
}
/* Quill End */

.np-btns-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    width: 100%;
}

.btn-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: 400ms;
}

.btn-cancel:hover {
    background-color: white;
    border: 1px solid red;
    color: red;
}

.np-btns-wrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.np-btns-wrapper div button {
    height: 45px;
    background-color: white;
    border: 1px solid #999;
    color: #001427;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: 400ms;
}
.np-btns-wrapper div button:hover {
    background-color: #001427;
    color: white;
    border: none;
}

.np-publish,
.np-draft {
    width: 150px;
}
/* ! End */

/* ? Profile Container */
.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

/* ? Profile Info */
.profile-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: white;
    border: 1px solid #999;
    border-radius: 10px;
    width: 21%;

    position: fixed;
    top: 9.1%;
    left: 18%;
}

.profile-upper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-info-wrapper .profile-img-wrapper {
    width: 55%;
    border-radius: 50%;
    margin-top: -15px;
}

.profile-img-wrapper .profile-img {
    border-radius: 50%;
    width: 100%;
    height: 172px;
}

.profile-cog-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 92%;
}

.profile-cog {
    width: 25px;
    height: 25px;
}

.profile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.profile-user-wrapper p {
    margin: 0;
}

.profile-name {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 5% !important;
}

.profile-bio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10%;
    width: 100%;
}

.profile-bio span {
    font-size: 1.2em;
    font-weight: 600;
}

.profile-bio p {
    width: 100%;
}
/* ! End */

/* ? Profile Posts */
.profile-posts-wrapper {
    width: 65%;
    margin-left: 35%;
}

.profile-posts-wrapper .profile-posts-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    width: 100%;
    font-size: 1.5em;
    font-weight: 600;
}

.profile-posts-header span:last-child {
    font-size: 18px;
    font-weight: normal;
}

.empty-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
    width: 100%;
}

.empty-posts span {
    font-size: 1.5em;
    font-weight: 600;
}
/* ! End */

/* ? Profile Edit */
.profile-edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #999;
}

/* ? Head */
.pe-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    width: 100%;
    border-bottom: 1px solid #999;
    background-color: #fbfdd5;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.pe-head span {
    font-size: 1.5em;
    font-weight: bold;
}
/* ! End */

/* ? Upper */
.pe-edit-upper form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1% 3%;
}

.pe-edit-upper > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 2%;
    padding-top: 0;
}

.pe-edit-upper > div .btn-cancel {
    width: 200px;
}

.pe-avatar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 5% 2% 2%;
}

.pe-avatar-wrapper img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.pe-avatar-wrapper a:hover {
    text-decoration: underline;
    color: rgb(12, 12, 145);
}

.pe-avatar-wrapper input {
    font-size: 0.8em;
    display: inline-block;
    margin-top: 15px;
}

.pe-edit-upper form .pe-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    width: 60%;
    margin: 0;
}

.pe-right .pe-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    width: 100%;
}

.pe-item > label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.pe-item .user-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #666;
    padding: 0;
    margin-bottom: 5%;
}

.pe-item input {
    display: flex;
    justify-content: center;
    appearance: none;
    border-width: 0;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    padding: 2% 3%;
    font-size: 1.1rem;
}

.pe-item textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    font-size: 1.1em;
    padding: 2% 3%;
    width: 100%;
    height: 100px;
}

.pe-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pe-btns a {
    padding: 8px;
    width: 90px;
    height: 35px;
}

.pe-btns button {
    padding: 8px;
    width: 120px;
    height: 35px;
}
/* ! End */
/* ! End */

.delete-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 50%;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: white;
    margin: 10% auto;
}

.dl-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    width: 100%;
    border-bottom: 1px solid #999;
    background-color: #fbfdd5;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.dl-header > span {
    font-size: 1.5em;
    font-weight: bold;
}

.delete-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 1% 4%;
}

.delete-wrapper form > div {
    width: 100%;
}

.dl-body {
    width: 100%;
    font-size: 1.2em;
}

.dl-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 2%;
}

.dl-btns a,
.dl-btns button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 80px;
    height: 40px;
}

.delete-wrapper form .dl-con span {
    background-color: #ececec;
    padding: 0.8%;
    border-radius: 5px;
    color: rgb(245, 45, 45);
    font-size: 0.9em;
}

.dl-con-wrapper {
    border: 1px solid #999;
    border-radius: 5px;
    width: 80%;
    margin: 2% 2% 2% 0;
}

.dl-con-wrapper input {
    border: none;
    width: 100%;
    outline: none;
    appearance: none;
    font-size: 1.2em;
    padding: 1%;
    background-color: transparent;
}

.error-list {
    margin: 4% 5% 2%;
    padding: 2%;
    color: rgb(248, 84, 84);
    border: 1px solid red;
    border-radius: 10px;
    font-weight: 600;
}

.error-list li {
    color: rgb(248, 84, 84);
}

/* * Media Query */
@media screen and (max-width: 1500px) and (max-height: 900px) {
    .header-container {
        padding: 5px 12%;
    }

    .main-container {
        padding: 5.5% 12% 3%;
    }

    .content-topics-container {
        right: 12%;
        width: 25%;
    }

    .profile-info-wrapper {
        left: 12%;
        width: 25%;
    }

    .np-title-wrapper {
        height: 2.5em;
    }

    .np-title-wrapper input {
        font-size: 1.5em;
    }

    .np-body-wrapper {
        height: 28em;
    }

    .log-register-wrapper {
        width: 40%;
    }

    .side-welcome-wrapper {
        width: 45%;
    }

    .post-author-info .post-author {
        width: 90%;
    }

    .post-head-info .post-actions {
        width: 35%;
    }

    .post-actions .btn,
    .post-actions .btn-cancel {
        width: 80px;
        height: 40px;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1200px) and (max-height: 600px) {
    .header-container {
        padding: 5px 5%;
    }

    .header-container .right-nav {
        min-width: 23%;
        max-width: 25%;
        gap: 20px;
    }

    .nav-logo-wrapper {
        width: 12%;
    }

    .main-container {
        padding: 7% 5% 3%;
    }

    .content-topics-container {
        right: 5%;
        top: 14.2%;
        width: 30%;
    }

    .post-author {
        width: 90%;
    }

    .np-btns-wrapper div {
        width: 50%;
    }

    .profile-info-wrapper {
        top: 14.2%;
        left: 5%;
        width: 30%;
    }

    .main-login-register {
        margin-top: 2%;
        padding: 0 2%;
    }

    .log-register-wrapper {
        width: 45%;
    }

    .side-welcome-wrapper {
        width: 50%;
    }

    .post-head-info .post-actions {
        width: 40%;
    }
}

@media screen and (min-width: 900px) and (min-height: 1400px) {
    .header-container {
        padding: 10px 5%;
    }

    .profile-cog-wrapper {
        width: 95%;
        right: 5px;
    }

    .nav-logo-wrapper {
        width: 20%;
    }

    .nav-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        padding: 5px 10px;
        border: none;
        height: 50px;
    }

    .nav-search input {
        display: none;
        font-size: 2.6em;
    }

    .nav-search label {
        width: 40px;
        height: 40px;
    }

    .nav-search img,
    .nav-search svg {
        width: 100%;
        height: 100%;
    }

    .header-container .right-nav {
        min-width: 5%;
        max-width: 25%;
    }

    .header-container .nav-user img {
        width: 60px;
        height: 60px;
    }

    .header-container .nav-user a {
        font-size: 1.8em;
    }

    .header-container .nav-link-items {
        display: none;
    }

    .header-container .login-btn {
        font-size: 1.8em;
    }

    .main-container {
        padding: 12% 5% 3%;
    }

    .content-feed-container {
        width: 100%;
    }

    .actions {
        display: flex;
    }

    .actions * {
        padding: 15px;
        font-size: 2.2em;
    }

    .actions a {
        width: 30%;
    }

    .actions button {
        width: 35%;
    }

    .img-circle {
        width: 55px;
        height: 55px;
    }

    .post-container {
        padding: 3% 1%;
    }

    .post-container .post-title {
        font-size: 2.2em;
    }

    .post-author {
        width: 90%;
        font-size: 1.8em;
    }

    .post-container .post-lower {
        padding: 3.5% 2% 1%;
    }

    .post-topics {
        font-size: 1.7em;
    }

    .post-date {
        font-size: 1.6em;
    }

    .post-likes-comments {
        font-size: 1.6em;
    }

    .content-topics-wrapper {
        display: none;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000000;
    }

    .content-topics-container {
        width: 94%;
        left: 3%;
        right: 3%;
        padding-bottom: 3%;
    }

    .content-topics-container > span {
        display: flex;
        width: 50px;
        height: 50px;
    }

    .content-topics-container > span svg {
        object-fit: cover;
        width: 30px;
        height: 30px;
    }

    .content-topics-container .blogs-topics-title {
        font-size: 2.2em;
    }

    .topics-item {
        font-size: 1.8em;
    }

    .new-post-container {
        width: 100%;
    }

    .np-title-wrapper {
        height: 6em;
    }

    .np-title-wrapper input {
        font-size: 4em;
    }

    .np-topic-wrapper {
        width: 80%;
        height: 3.5em;
    }

    .np-topic-wrapper select {
        font-size: 2em;
    }

    .np-body-wrapper {
        height: 70em;
    }

    .np-body-wrapper textarea {
        font-size: 2.2em;
        padding: 15px 20px;
    }

    .np-btns-wrapper .btn-cancel {
        width: 180px;
        height: 80px;
        font-size: 2.2em;
    }

    .np-btns-wrapper div {
        width: 55%;
    }

    .np-btns-wrapper div button {
        height: 80px;
        font-size: 2.2em;
    }

    .np-btns-wrapper div a {
        height: 80px;
        font-size: 2.2em;
    }

    .np-draft {
        width: 300px;
    }

    .np-publish {
        width: 200px;
    }

    .np-btns-wrapper .main-login-register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .log-register-wrapper {
        width: 100%;
        margin-bottom: 10%;
    }

    .side-welcome-wrapper {
        width: 100%;
    }

    .post-main {
        margin: 0;
    }

    .post-head-info {
        gap: 1.5em;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .profile-info-wrapper {
        position: static;
        width: 100%;
    }

    .profile-cog-wrapper {
        position: relative;
        z-index: 1;
    }

    .profile-cog {
        width: 55px;
    }

    .profile-name {
        font-size: 2.2em;
    }

    .profile-username,
    .profile-bio p {
        font-size: 1.8em;
    }

    .profile-bio span {
        font-size: 2em;
    }

    .profile-container .actions {
        margin-bottom: 1em;
    }

    .profile-info-wrapper .profile-img-wrapper {
        width: 40%;
    }

    .profile-posts-wrapper {
        width: 100%;
        margin: 0;
        margin-top: 5%;
    }

    .profile-posts-header span:first-child {
        font-size: 1.6em;
    }

    .profile-posts-header span:last-child {
        font-size: 1.4em;
    }

    .profile-edit-container {
        width: 100%;
        margin: 0;
    }

    .pe-edit-upper form {
        display: flex;
        flex-direction: column;
    }

    .pe-avatar-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    .pe-edit-upper form .pe-right {
        width: 100%;
    }

    .post-head-info .post-author-img img {
        width: 55px;
        height: 55px;
    }

    .post-head-info .post-author {
        font-size: 1.8em;
    }

    .post-head .post-title {
        font-size: 4em;
    }

    .like-btn {
        width: 120px;
        height: 60px;
        font-size: 2em;
    }

    .post-body p {
        font-size: 2em;
    }

    .post-body h2 {
        font-size: 3em;
    }

    .post-comments form {
        height: 16em;
    }

    .post-comments form div {
        margin-bottom: 1.2em;
    }

    .post-comments form textarea {
        font-size: 1.8em;
    }

    .post-comments form button {
        padding: 12px 18px;
        font-size: 1.6em;
    }

    .comments-section h2 {
        font-size: 3em;
    }

    .comment-head {
        margin-bottom: 1em;
    }

    .comment-head .comment-owner-img {
        width: 55px;
        height: 55px;
    }

    .comment-owner-name {
        font-size: 1.8em;
    }

    .comment-date {
        font-size: 1.2em;
    }

    .comment-body {
        font-size: 1.8em;
    }

    .post-main .actions {
        margin: 0.8em 0;
    }

    .main-login-register {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .lr-head > span {
        font-size: 3em;
    }

    .form-item > label {
        font-size: 2.3em;
    }

    .form-item input {
        height: 2.2em;
        font-size: 2em;
        padding: 0 3%;
    }

    .btn-log-sign {
        font-size: 2em;
        width: 150px;
        height: 60px;
    }

    .lr-footer p {
        font-size: 2.1em;
    }

    .lr-footer .log-sign-redirect {
        font-size: 1.8em;
    }

    .side-welcome-wrapper .welcome-txt {
        font-size: 2.6em;
    }

    .pe-head span {
        font-size: 3em;
    }

    .pe-avatar-wrapper img {
        width: 300px;
        height: 300px;
    }

    .pe-avatar-wrapper div {
        margin: 0 auto;
        width: 60%;
        font-size: 2em;
    }

    .pe-avatar-wrapper input {
        font-size: 1em;
    }

    .pe-edit-upper > div .btn-cancel {
        font-size: 1.8em;
        width: 300px;
        height: 75px;
    }

    .pe-item > label {
        font-size: 2.3em;
    }

    .pe-item input {
        height: 2.2em;
        font-size: 2em;
        padding: 0 3%;
    }

    .pe-item textarea {
        height: 12em;
        font-size: 2em;
    }

    .pe-btns .btn-cancel {
        width: 150px;
        height: 70px;
        font-size: 2em;
    }

    .pe-btns button {
        height: 70px;
        width: 260px;
        font-size: 2em;
    }

    .delete-wrapper {
        width: 100%;
        margin: 10% 0;
    }

    .dl-header > span {
        font-size: 3em;
    }

    .dl-body {
        font-size: 2.2em;
    }

    .dl-btns a,
    .dl-btns button {
        font-size: 1.8em;
        width: 150px;
        height: 75px;
    }

    .dl-con {
        font-size: 1.9em;
    }

    .dl-con-wrapper input {
        padding: 1.5% 3%;
        font-size: 2.1em;
    }

    .post-author-info .post-author {
        width: 85%;
    }

    .post-head-info .post-actions {
        width: 50%;
    }

    .post-actions .btn,
    .post-actions .btn-cancel {
        width: 120px;
        height: 60px;
        font-size: 1.8em;
    }

    .error-list {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 800px) and (max-height: 1350px) {
    .header-container {
        padding: 5px 5%;
    }

    .profile-cog-wrapper {
        width: 95%;
        right: 2px;
    }

    .profile-cog {
        width: 35px;
        height: 35px;
    }

    .nav-logo-wrapper {
        width: 20%;
    }

    .nav-search {
        width: 45%;
    }

    .header-container .right-nav {
        min-width: 5%;
        max-width: 25%;
    }

    .header-container .nav-user img {
        width: 45px;
        height: 45px;
    }

    .header-container .nav-user a {
        font-size: 1.1em;
    }

    .header-container .nav-link-items {
        display: none;
    }

    .main-container {
        padding: 12% 5% 3%;
    }

    .content-feed-container {
        width: 100%;
    }

    .actions {
        display: flex;
    }

    .actions * {
        padding: 15px;
        font-size: 1.2em;
    }

    .actions a {
        width: 30%;
    }

    .actions button {
        width: 35%;
    }

    .img-circle {
        width: 35px;
        height: 35px;
    }

    .post-author {
        width: 92%;
    }

    .content-topics-wrapper {
        display: none;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000000;
    }

    .content-topics-container {
        width: 94%;
        left: 3%;
        right: 3%;
        padding-bottom: 3%;
    }

    .content-topics-container > span {
        display: flex;
    }

    .new-post-container {
        width: 100%;
    }

    .np-btns-wrapper div {
        width: 40%;
    }

    .main-login-register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .log-register-wrapper {
        width: 100%;
        margin-bottom: 10%;
    }

    .side-welcome-wrapper {
        width: 100%;
    }

    .post-main {
        margin: 0;
    }

    .post-head-info {
        gap: 1.5em;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .profile-info-wrapper {
        position: static;
        width: 100%;
    }

    .profile-cog-wrapper {
        position: relative;
        z-index: 1;
    }

    .profile-info-wrapper .profile-img-wrapper {
        width: 40%;
    }

    .profile-posts-wrapper {
        width: 100%;
        margin: 0;
        margin-top: 5%;
    }

    .profile-edit-container {
        width: 100%;
        margin: 0;
    }

    .pe-edit-upper form {
        display: flex;
        flex-direction: column;
    }

    .pe-avatar-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    .pe-edit-upper form .pe-right {
        width: 100%;
    }

    .pe-avatar-wrapper img {
        width: 250px;
        height: 250px;
    }

    .pe-avatar-wrapper div {
        margin: 0 auto;
        width: 60%;
    }

    .pe-avatar-wrapper input {
        font-size: 1.4em;
    }

    .pe-item > label {
        font-size: 1.9em;
    }

    .pe-item input {
        height: 1.8em;
        font-size: 1.6em;
        padding: 0 3%;
    }

    .pe-item textarea {
        height: 9em;
        font-size: 1.6em;
    }

    .pe-btns .btn-cancel,
    .pe-btns button {
        height: 50px;
        font-size: 1.4em;
    }

    .pe-btns .btn-cancel {
        width: 100px;
    }

    .pe-btns button {
        width: 175px;
    }

    .delete-wrapper {
        width: 100%;
        margin: 10% 0;
    }

    .dl-body {
        font-size: 1.5em;
    }

    .dl-btns a,
    .dl-btns button {
        font-size: 1.3em;
        width: 100px;
        height: 50px;
    }

    .dl-con {
        font-size: 1.3em;
    }

    .dl-con-wrapper input {
        padding: 1.5% 3%;
        font-size: 1.5em;
    }

    .post-author-info {
        padding: 0 !important;
    }

    .post-author-info .post-author {
        width: 85%;
    }

    .post-head-info .post-actions {
        width: 50%;
    }

    .post-actions .btn,
    .post-actions .btn-cancel {
        width: 80px;
        height: 40px;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 600px) and (max-height: 1000px) {
    .btn.login-btn {
        padding: 15px 5px;
    }

    .header-container {
        padding: 5px 2%;
    }

    .nav-logo-wrapper {
        width: 30%;
    }

    .nav-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
        padding: 5px 10px;
        border: none;
    }

    .nav-search input {
        display: none;
    }

    .header-container .right-nav {
        min-width: 5%;
        max-width: 25%;
    }

    .header-container .nav-link-items {
        display: none;
    }

    .main-container {
        padding: 18% 2% 3%;
    }

    .content-feed-container {
        width: 100%;
    }

    .actions {
        display: flex;
    }

    .post-author {
        width: 90%;
    }

    .content-topics-wrapper {
        display: none;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000000;
    }

    .content-topics-container {
        width: 94%;
        left: 3%;
        right: 3%;
        padding-bottom: 3%;
    }

    .content-topics-container > span {
        display: flex;
    }

    .new-post-container {
        width: 100%;
    }

    .np-title-wrapper {
        height: 2em;
    }

    .np-title-wrapper input {
        font-size: 1.2em;
        height: 1.5em;
    }

    .np-body-wrapper {
        height: 30em;
    }

    .np-btns-wrapper div {
        width: 60%;
    }

    .main-login-register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .log-register-wrapper {
        width: 100%;
        margin-bottom: 10%;
    }

    .side-welcome-wrapper {
        width: 100%;
    }

    .post-main {
        margin: 0;
    }

    .post-head-info {
        gap: 1.5em;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .profile-info-wrapper {
        position: static;
        width: 100%;
    }

    .profile-cog-wrapper {
        position: relative;
        z-index: 1;
    }

    .profile-info-wrapper .profile-img-wrapper {
        width: 40%;
    }

    .profile-posts-wrapper {
        width: 100%;
        margin: 0;
        margin-top: 5%;
    }

    .profile-edit-container {
        width: 100%;
        margin: 0;
    }

    .pe-edit-upper form {
        display: flex;
        flex-direction: column;
    }

    .pe-avatar-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    .pe-edit-upper form .pe-right {
        width: 100%;
    }

    .delete-wrapper {
        width: 100%;
        margin: 10% 0;
    }

    .post-author-info {
        padding: 0 !important;
    }

    .post-author-info .post-author {
        width: 85%;
    }

    .post-head-info .post-actions {
        width: 45%;
    }

    .post-actions .btn,
    .post-actions .btn-cancel {
        width: 60px;
        font-size: 14px;
    }
}
