{% load static %}
<header class="header-container">
    <div class="nav-logo-wrapper">
        <a href="{% url 'home' %}">
            <img
                class="nav-logo"
                src="{% static 'images/icons/Normal.svg'%}"
                alt="Normal's Logo"
            />
        </a>
    </div>

    {% if not form %}
        <form
            action="{% url 'home' %}"
            method="GET"
            autocomplete="off"
            class="nav-search"
            id="m_nav_search"
        >
            <input type="text" id="search" name="q" placeholder="Search..." />
            <label for="search" id="m_search">
                <img src="{% static 'images/icons/Magnifier.svg'%}" />
            </label>
        </form>
    {% endif %}
    <div class="right-nav">
        {% if not form %}
            <ul class="nav-link-items">
                <li><a href="{% url 'create-post' %}">Write</a></li>
            </ul>
        {% endif %}

        {% if request.user.is_authenticated %}
            <div class="nav-user">
                <a href="{% url 'user-profile' request.user %}">
                    <span class="username-link">{{request.user}}</span>
                </a>
                <img src="{% static request.user.avatar.url %}" id="user_avatar" />
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="btn login-btn">Getting Started</a>
        {% endif %}
    </div>
</header>
