{% extends 'main.html' %} {% load static %}

{% block title %} Delete your account in Normal 😥 {% endblock title %}

{% block content %}
<div class="delete-wrapper">
    <div class="dl-header"><span>Delete Your Account 😥</span></div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="dl-body">Are you sure you want to delete your account?</p>
        <div>
            <span class="dl-con">
                Type <span>Delete @{{request.user.username}}</span> to confirm
                deletion.
            </span>
            <div class="dl-con-wrapper">
                <input type="text" name="dl-confirm" autocomplete="off" />
            </div>
        </div>
        <div class="dl-btns">
            <a href="{% url 'delete-account' request.user %}" class="btn-cancel"
                >Cancel</a
            >
            <button type="submit" class="btn">Confirm</button>
        </div>
    </form>
</div>
{% endblock content %}
