{% extends 'main.html' %} {% load static %}

{% block title %} Login to Normal {% endblock title %}

{% block log_reg %}
<div class="main-login-register">
    <div class="log-register-wrapper">
        <div class="lr-head">
            <span>Login</span>
        </div>
        <div class="lr-body">
            {% if form.errors %}
            <div class="error-list">
                {{form.errors.as_text|cut:"* "|cut:"__all__"}}
            </div>
            {% endif %}

            <form method="POST" action="" autocomplete="off">
                {% csrf_token %} {% for field in form %}
                <div class="form-item">
                    <label for="{{field.label}}">{{field.label}}:</label>
                    <div class="user-input">{{field}}</div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-log-sign">Login</button>
            </form>
        </div>
        <div class="lr-footer">
            <p>Haven't Signed up yet?</p>
            <a href="{% url 'register' %}" class="log-sign-redirect">
                Sign Up
            </a>
        </div>
    </div>
    {% include 'base/log_reg_welcome.html' %}
</div>
{% endblock log_reg %}
